In [1]:
import sys
sys.path.append("../")

In [2]:
import numpy as np

In [3]:
from data_generation.data_generator import generate_synthetic_data

In [4]:
import logging

In [5]:
# Set up logging
logger = logging.getLogger(__name__)
logger.setLevel(logging.DEBUG)

In [6]:

# Generate synthetic data
generated_data = generate_synthetic_data(
    num_users=100000,
    countries=['US', 'UK', 'DE', 'FR', 'CA', 'AU', 'JP', 'IN'],
    platforms=['iOS', 'Android', 'Web', 'Desktop'],
    user_segments=['Segment_1', 'Segment_2', 'Segment_3', 'Segment_4'],
    ab_groups=['a1', 'a2', 'b'],
    noise_level=1.0,
    base_increase_percentage=0.1,
)

In [7]:
generated_data

       userid country platform user_segment abgroup  pre_test_value      value
0           1      IN      iOS    Segment_2      a2        3.784905   3.352652
1           2      FR  Android    Segment_3      a2        6.857429   5.231769
2           3      IN      iOS    Segment_2      a1        9.584981  11.742556
3           4      FR  Desktop    Segment_1      a1        7.111069   8.134202
4           5      AU      iOS    Segment_3      a2        6.176563   6.662457
...       ...     ...      ...          ...     ...             ...        ...
99995   99996      IN  Android    Segment_2      a1        3.802467   7.869947
99996   99997      IN      iOS    Segment_3       b        3.907966   1.288045
99997   99998      DE      Web    Segment_4      a2        8.981930   9.805897
99998   99999      CA  Desktop    Segment_3      a2        3.727349   3.502490
99999  100000      FR      Web    Segment_3      a2        1.384071   1.379637

[100000 rows x 7 columns]